main{
    width: 100%;
    height: 100vh;
}

.container{
    margin-top: 50px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

#infPerfil{
    width: 50%;
    border-right: 1px solid white;
}

h1{
    margin: 40px 0 0px 250px;
}


#box_img_name{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

#img_perfil{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 0%;
}

#img_perfil img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

#box_img_name h2{
    margin-left: 30px;
    color:#b2dfb0;
}

#editar{
    background-color: transparent;
    border: none;
    padding: 5px;
    color: white;
    text-align: center;
    margin-left: 7%;
}

#sair{
    color: red;
    background-color: transparent;
    margin: 0% 0 0 55%;
    border: none;
}

#box_descricao{
    margin-top: 2%;
    border-radius: 5px;
    width: 70%;
    height: auto;
    min-height: 100px;
    background-color: rgba(69, 68, 68, 0.482);
    color: rgb(255, 255, 255);
}



.ultima{
    display: flex;
    align-items: center;
    padding: 10px 0 10px 0;
}


.box_img_ultima{
    width: 150px;
    height: 100px;
    overflow: hidden;
}

.box_img_ultima img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.ultima strong{
    margin-left: 10px;
}




.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.836);
}

.modal-content {
    background: linear-gradient(rgba(60, 60, 60, 0.925), rgb(30, 30, 30));
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 60%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: end;
}

.close:hover,
.close:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

.modal input,
.modal textarea{
    border-radius: 10px;
    margin: 5px;
}

.modal button{
    width: 15%;
    margin-left:40% ;
    text-align: center;
    border-radius: 50px;
}