main{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 5px;
    margin-top: 3%;
    min-height: 90vh;
}

.box_dica{
    width: 40%;
}

#box_img{
    width: 100%;
    height: 50%;
    position: relative;
    overflow: hidden;
}

#box_img img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

#comentarios{
    margin-top: 10px;
}

.sobre_cor{
    color: #b2dfb0;
}

.box_icon{
    width: 30px;
    height: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    margin-right: 3px;
}

.box_icon img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.comentario {
    display: flex;
    align-items:flex-end;
    flex-wrap: wrap;
    padding: 2.5px 0 2.5px 0;
    border-bottom: 1px solid #fff;
}

.comentario p {
    margin-left: 30px;
    width: 100%;
}


#form_comentario textarea{
    background: rgba(139, 139, 139, 0.729);
    width: 80%;
    border-radius: 10px;
    margin:0 0 25px 5px;
    color: #fff;
    padding: 5px;
    border: 2px black solid;
}

#form_comentario input:hover{
    border: 2px solid #b2dfb0;
}
