

#gif_inicial{
    width: 100%;
    padding: 0 10%;
    display:flex ;
    justify-content: center;
    margin-top: 20px;
}

#cabecalho {
    display: flex;
    justify-content:space-between;
    margin: 0 10%;
}

#h1dicas {
    margin: 1% 0;
}

#cabecalho button {
    margin: 1% 0; 
    border: 0;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

main{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 2% 0 2%;
    justify-content: center;
    row-gap: 40px;
    column-gap: 30px;
}

main a{
    text-decoration: none;
    color: #fff;
}



.dicas{
    width: 350px;
    height: 200px;
}

.img_dica{
    width: 350px;
    height: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    transition: border-radius 0.5s ease, border 0.5s ease;
}

.img_dica img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

footer{
    margin-top: 5%;
}

.img_dica:hover{
    border: solid 1px #b2dfb0;
    border-radius: 0%;
}

.img_dica:hover img {
    filter: brightness(70%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0; 
    transition: opacity 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nota {
    color: white;
    font-size: 18px;
}

.img_dica:hover .overlay {
    opacity: 1;
}

.text_dicas{
    display: flex;
    justify-content:space-between;
    margin: 0 5%;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #0b0b0bd8;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.721);
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: end;
}

.close:hover,
.close:focus {
    color: rgb(255, 5, 5);
    text-decoration: none;
    cursor: pointer;
}

.circle-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    color: #000000;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.3s;
}

.circle:hover {
    background-color: #38cb30;
    color: rgb(0, 0, 0);
    transform: scale(1.1);
}

.circle.selected {
    background-color: #38cb30;
    color: rgb(0, 0, 0);
}

.filter-button {
    padding: 10px 20px;
    background-color: #b2dfb0;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: flex-end;
}

.filter-button:hover {
    background-color: #38cb30;
}

#filterForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    padding: 20px;
}